.tab-secondary-label {
	display: none;
}

#nav-bar:not([tabs-hidden="true"]) {
	box-shadow: none !important;
}

:root {
	--toolbarbutton-border-radius: 0px !important;
	--arrowpanel-border-radius: 0px !important;
	--arrowpanel-menuitem-border-radius: 0px !important;
	--tab-border-radius: 0px !important;;
}

#PlacesToolbar menuitem, #PlacesToolbar menu, .subview-subheader, panelview .toolbarbutton-1, .subviewbutton, .widget-overflow-list .toolbarbutton-1 {
	padding: 5px 5px !important;
}
